/*tirando as margens padrões do navegador e colocando a fonte para a página inteira*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-image: url("../img/mapa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 10px;
}


.post {
            border: 1px solid #ccc;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            font-family: sans-serif;
        }
        .post h2 { margin-top: 0; color: #333; }